.nav-container {
}
.nav {
}
.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0;
  justify-content: flex-start;
  margin-bottom: -3px;
  margin-top: 0;
  position: relative;
  z-index: 1;
}
.nav-list-item {
  flex-grow: 1;
}
.nav-list-item-link {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #242424;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #ffffff;
  border-bottom: none;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  position: relative;
}
.nav-list-item-link:not(.active):hover {
  background-color: #ffffff;
  transition: all 0.25s;
  border-color: #666eff;
  text-shadow: 0 0 5px #fff200;
  box-shadow: inset 0 0 2rem 0.25rem #fff20044;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.nav-list-item-link:not(.active):hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 1px;
  background-color: #666eff;
}

.nav-list-item-link.active {
  background-color: #ffffff;
  color: #000000;
  transition: border-color 0.25s;
  border-bottom: none;
  border-color: #ffffff;
}

.nav-list-item-link.active:hover {
  background-color: #ffffff;
  color: #fff200;
  transition: all 0.25s;
  border-bottom: none;
  border-color: #fff200;
  text-shadow: 0 0 5px #666eff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.nav-list-item-link.pending {}