#root {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
  overflow: hidden;
}

#root {
  box-sizing: border-box;
}

.app {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.router:hover {
  filter: drop-shadow(0 0 2em #ff1c46aa);
  -webkit-filter: drop-shadow(0 0 2em #ff1c46aa);
}

.logo.mui:hover {
  filter: drop-shadow(0 0 2em #1235fcaa);
  -webkit-filter: drop-shadow(0 0 2em #1235fcaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.read-the-docs::after {
  position: absolute;
  content: 'Click on the React, React-router and MUI logos to learn more';
  left: 0;
  width: 100%;
  text-align: center;
}

.header,
.content,
.footer {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-frame {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  width: 100%;
  border: none;
}

.header {
  flex-direction: column;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
}

.header-button {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1dvh;
  height: 5vh !important;
  min-height: 5vh !important;
  padding: 1.5dvh;
}

.header-button-title {
  position: relative;
  width: 100%;
  height: 5vh !important;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: auto;
}

.header-title {
  position: absolute;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  width: 100%;
  height: 5dvh;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.header-button-span {
  font-size: 2dvh;
  width: 2dvh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  position: relative;
  height: 5dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.main {
  width: 100%;
  justify-content: space-between;
  /* overflow-y: scroll; */
  padding-bottom: 10dvh;
  position: relative;
  z-index: 1;
  margin: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 10dvh;
}

@media (orientation: portrait) {
  .footer {
    height: 10dvh;
  }

  .read-the-docs {
    padding-bottom: 1rem;
  }
  .read-the-docs::after {
    bottom: 0;
  }
}

@media (orientation: landscape) {
  .footer {
    height: 10dvh;
  }

  .read-the-docs {
    padding-bottom: 1rem;
    bottom: 1.5rem;
  }
  .read-the-docs::after {
    bottom: 1.5rem;
  }
}

.header, .task-frame .content {
  width: 100%;
}
